<?xml version="1.0" encoding="utf-8"?>
<LEConfig>
  <Profiles>
    <Profile Name="ResHacker.exe.le.config" Guid="3b230926-f91c-4ff5-b9a9-7b8bd7af4ffc" MainMenu="false">
      <Parameter></Parameter>
      <Location>zh-TW</Location>
      <Timezone>China Standard Time</Timezone>
      <RunAsAdmin>true</RunAsAdmin>
      <RedirectRegistry>false</RedirectRegistry>
      <IsAdvancedRedirection>false</IsAdvancedRedirection>
      <RunWithSuspend>false</RunWithSuspend>
    </Profile>
  </Profiles>
</LEConfig>